.todo-flex-box {
    display: flex;
    flex-flow: row wrap;
}

.item {
    opacity: 1;
    position: relative;
    background-color: #fff;
    border: 1px solid;
    border-left-color: currentcolor;
    border-color: #dbe0e9 #ced5e1 #c1cad9;
    width: 178px;
    border-radius: .192rem;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    height: 174px;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
    margin: 0 1.2308rem 1.2308rem 0;
    color: inherit;

    &:hover, &:active {
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }

    &__thumbnail {
        height: 132px;
        width: 176px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: 50%;
        border-top-left-radius: .192rem;
        border-top-right-radius: .192rem;
        -webkit-background-size: cover;
        background-size: cover;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        background-color: #566b8d;
    }

    &__title {
        padding: 11px 12px;
        padding-right: 12px;
        height: 40px;
        width: 176px;
        margin: 0;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
    }
}
